In [5]:
def exc(a,b):
    two_sum = a+b
    return two_sum

exc(30,20)

50

In [ ]:
## Functio  is block of code -  improving readibility :

def function_name(parameters):
    """Docstring"""
    #Function Bodgy
    return expression

In [7]:
num  =24 
if num%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [13]:
def even_odd(num):
    if num%2 ==0:
        print(num,"The Number is even")
    else:
        print(num,"The Numder is odd")
    


even_odd(121)

121 The Numder is odd

In [15]:
even_odd(1234233)

1234233 The Numder is odd

In [17]:
## Function With Multiple Parameteres
def add(a,b):
    return a+b


add(1,2)

3

In [43]:
def default():
    return "SRK Guest"

In [ ]:
## Default Parameters:
def greet(name=None):
    if name is None:
        name=default()
    return f"Hello {name}"

'Hello SJ Guest'

In [45]:
greet("SRI")

'Hello SRI'

In [ ]:
## Variable length Argument
## Positional Argements

def print_num(numbers):
    for i in numbers:
        print(i)


# print_num([1,2,3,4,5,6,7,8,9])


def prit_num(*args):
    for i in args:
        print(i)
    


prit_num(1,"Sri","Ram",3.14, 4,5,5)

1
Sri
Ram
3.14
4
5
5

In [65]:
## keywords Arguments
# All the parameters in key:value form ( Like Dict{})

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [66]:
print_details(name="sriram",age = 10,country = "India")

name:sriram
age:10
country:India

In [ ]:
def print_num(*args,**kwargs):
    for i in args:
        print(f"Positional args:{i}")
    for i,j in kwargs.items():
        print(f"Keyword args=> {i}:{j}")

SyntaxError: arguments cannot follow var-keyword argument (3825788949.py, line 1)

In [70]:
print_num(1,2,3,4,5,6,"sri=am",name="sriram",age = 10,country = "India")

Positional args:1
Positional args:2
Positional args:3
Positional args:4
Positional args:5
Positional args:6
Positional args:sri=am
Keyword args=> name:sriram
Keyword args=> age:10
Keyword args=> country:India

In [71]:
## Return Statement
def multi(a,b):
    return a+b, a*b, a-b ,a

In [72]:
multi(2,4)

(6, 8, -2, 2)