In [ ]:
dicta = {"a":1,"b":2}
print(dicta)

In [ ]:
## Unorderd collection of items 
## store as a key : value pair 
## key must be unique and immutable

dicta = {}
print(dicta)
print(type(dicta))

In [ ]:
lst = list()
tup = tuple()
my = dict()

print(lst)
print(tup)
print(my)

In [ ]:
student = {"name":"Sriram" , "age":30,"country":"india"}
print(student)

student["name"] = "Sriram Jayavel"
print(student)

print(student.keys())
print(student.values())

student["job role"] = "CEO"
print(student)

student["name"] = "sriram jayavel"
print(student)

In [ ]:
## accessing Dict Elements

print(student)

# student["name"]
student.get("name")
student.get("sriram jayavel","Not Available")

In [ ]:
## Modifing Dictionary Elements
## Dictionaries are mutable so you can add ,update or delete the elements


print(student)

In [ ]:
student["PH"] = 9751393954

print(student)

In [ ]:
del student[list(student.keys())[1]]

In [ ]:
print(student)

In [ ]:
del student["job role"]

print(student)

In [ ]:
keys  =  student.keys()
print(list(keys))

values = student.values()
print(tuple(values))


items = student.items()
print(list(items))

In [ ]:
## Shallow Copy
print(student)

In [ ]:
student_copy1 = student

print(student)
print(student_copy1)

In [ ]:
student_copy1["name"] = "Sriram"

In [ ]:
student = student_copy1.copy() ## Shallow Copy

print(student)
print(student_copy1)

In [ ]:
student["name"] = "SJ"
print(student)
print(student_copy1)

In [ ]:
## Iterating over Dictionaries

print(student)

key_ = []
value_ =  []
for i,j in student.items():
    key_.append(i)
    value_.append(j)


print(key_)
print(value_)

In [ ]:
## Nested Dictionaries
students  = {"student1":{"name":"Sri","age":30},
             "student2":{"name":"Ram","age":32}}

print(students)

print(students["student1"]["name"])

In [ ]:
for i,j in students.items():
    for a in j.values():
        print(f"{i} and {a}")

In [ ]:
for key, pair in students.items():
    print("Student_Key",key)
    for i,j in pair.items():
        print(f"{i}:{j}")

In [ ]:
## Dictionary Comprehension




lst = [1,1,1,2,2,"Sri",True,90,1,34]
lst = [{i:lst.count(i)} for i in set(lst)]
lst = lst.dict()

In [124]:
{i:i**2 for i in range(5) if i%2==0}

{0: 0, 2: 4, 4: 16}

In [129]:
{ i:"even"  if i%2 ==0 else "odd" for i in range(10)}

{0: 'even',
 1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [130]:
{ i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [166]:
## USe Dictionary to find frequenct values in list

lst = [1,1,2,2,2,2,2,2,23,3,3,3,33]
fre = {}

{i:lst.count(i) for i in lst}

{1: 2, 2: 6, 23: 1, 3: 3, 33: 1}

In [167]:
for i in lst:
    if i in fre:
        fre[i] = fre[i]+1
    else:
        fre[i]=1

print(fre)

{1: 2, 2: 6, 23: 1, 3: 3, 33: 1}

In [168]:
##Merge 2 dict into one

dict1 = {"a":1,"b":2}
dict2 = {"b":4,"c":1}

m_dict = {**dict1,**dict2}
print(m_dict)

{'a': 1, 'b': 4, 'c': 1}