In [ ]:
num = [1,2,3]
for i in num:
    print(i)

In [ ]:
##List are Ordered and Mutable collection of items
## they can contain differenent data types

lst = [1,2,"Sriram"]
print(type(lst))

In [ ]:
fruits = ["apple", "mango" , "kiwi","tomoto","orange"]

print(fruits[0:])

print(fruits[-1:])


fruits[1] ="banana"
print(fruits)


print(fruits.index("banana"))

In [ ]:
##List Methods

print(fruits.append("coconnut"))

print(fruits)

In [ ]:
fruits.insert(1,"laptop")

print(fruits)

In [ ]:
fruits.remove(fruits[5]) ## Removiinf the first occurence
print(fruits)

In [ ]:
fruits.pop()
print(fruits)

In [ ]:
fruits.append(fruits[0])

In [ ]:
print(fruits.count("apple"))
print(fruits.index("apple"))

In [ ]:
print(fruits)

In [ ]:
fruits.sort()##Aseding order

print(fruits)

In [ ]:
fruits.reverse()
print(fruits)

In [ ]:
numbers  = [1,2,3,4,5,6,7,8,9,0]

# for i in numbers:
#     print(i)

print(numbers[2:5])
print(numbers[:4])
print(numbers[5:])
print( numbers[::3]) ## 3 means step size
print(numbers[::-1])
print(numbers[::-2])

In [ ]:
##Iteratinf Over List

for i in numbers:
    print(i)

In [ ]:
##Iterating with index ((enumerate))
 
for index,i in enumerate(numbers):
    print(index,i)

In [ ]:
##List Comprehensions

lst = [1,23,3]

for i in lst:
    print(i*2)


print([i*2 for i in lst])

In [ ]:
fruits.clear() ## Remove all the items 

print(fruits)

In [ ]:
lst = []

for i in range(10):
    if i>2:
        lst.append(i**2)
    
print(lst)

print()

In [ ]:

lstn = []
print([lstn.append(i**2) for i in range(10) if i>2])
print(lstn)

In [ ]:
### Basic Syntex   --------->          [expresion for item in iterable]
### With Condition Logic ------>       [expression for itemm in iterable if condition]
### Nested List Comprehension ------>  [expression for item1 in iterable1 for item2 in iterable2]
## With if and else ------------>      [expression1 if condition else expression2 for i in iterable ]

In [ ]:
[x**2 for x in range(10)]

In [ ]:
[x for x in range(10) if x%2 == 0 ]

In [ ]:
lst1 = [1,2,3,4]
lst2 = ["a","b","c","d"]

for i in lst1:
    for j in lst2:a
        print(i,j)


[(i,j) for i in lst1 for j in lst2]

In [ ]:
name = ["python","Genai","Gemini"]
length = [len(i) for i in name]
print(length)

In [ ]:
["even" if i%2==0 else "odd" for i in range(10)]

In [ ]:
##Create a list of even numbers from 1 to 20.

[i for i in range(21) if i%2==0]

In [ ]:
##Create a list of numbers that are divisible by both 2 and 3 between 1 and 30.

[i for i in range(1,31) if i%2==0 and i%3 == 0 ]

In [ ]:
##Create a nested list comprehension to extract the square of each element from a list of lists.

lst = [[1,2],[3,4],[5,6]]

for i in lst:
    for j in i:
        print(j)

[j**2 for i in lst for j in i ]

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6]]
squared_values = [x**2 for row in matrix for x in row]
print(squared_values)

In [ ]:
names  = ["Sriram","Pepul","TCS","Itrend"]

for i in names:
    print(i,len(i))

{i:len(i) for i in names}

In [ ]:
## Use else to replace negative numbers with "Negative" and positive numbers with "Positive" in a list.

lst = [-1,2-3,4,5,6,-9]

for i in lst:
    print(i)

["Positive" if i>=0 else "Negative" for i in lst]

In [ ]:
lst = [1,2]
print(lst*1)

In [ ]:
lst = [1,2,3,4,5,"Six"]
lst[-1] = 6
print(lst.count(6))
print(lst)

In [ ]:
lst  = (1,2,3,4,5,"Six")
print(lst.count(2))
# lst[-1] = 6
print(lst)

In [ ]:
##Tuple Methods
numbers = (1,2,2,3,10)
print(numbers)

print(numbers.count(2))
print(numbers.index(10))

In [ ]:
##Packing And UNpacking Tuples (default)

#Pack

packed_tuple  = 1,11,11,"sriram","3.14","1342"

print(type(packed_tuple))
print(packed_tuple)

In [ ]:
## Unpack
a,b,c,d,e,f = packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
##unpacking with *

numbers = (1,2,3,4,5,6,7)
a,*b = numbers
print(a)
print(b)
# print(c)

In [ ]:
## Nested Tuple
## Nested List

lst = [[1,2,3,4],["A",1,90],["sriram",70]]

print(lst)
print(type(lst))

print(lst[0][::2])

[j for i in lst for j in i]

In [ ]:
lst = ((1,2,3,34,6),("Sriram","Ja"),("iop",3.14),(True, False))
print(lst[3][-1])

In [ ]:
## Iterating over nested tuples

for i in lst:
    for j in i:
        print(j,end = " ")
    print()